body{
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff !important;
}
.navbar-laravel{
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.07) !important;
}
.nav-item .nav-link{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: black !important;
}
.nav-item .nav-link:hover{
  color: #8b0000 !important;
}
#HomeJumbotron{
  background-image: url('/img/jeep.jpg');
  height: 91.5vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.columnas{
  width:25rem;
  margin-right:50px;
}
.columnas a{
  color:white;
  text-decoration: none;
}
.columnas a:hover{
  text-decoration: none;
}
.overlay-home{
  background: rgba(0,0,0,0.8);
  padding:40px 0;
  transition: .5s;
}
.overlay-home:hover{
  text-decoration: none;
  transform: scale(1.05);
  transition: .5s;
}
.subtitle-home{
  font-weight: 600;
  font-size: 15px;
}
.icons-home{
  font-size: 60px;
}